.translate
{
    transform: translate(-50%,-80%);
    top: 50%;
    left: 50%;
    color:#282828;
    font-Weight:700;
    font-size: 38px;
}
 .btn-home{
transform: translateX(-50%);
opacity: .5;
z-index: 12;
bottom: 95%;
transition: all .5s;

 }
 .btn-home:hover
 { opacity: 1;
 }
.bg-h2
{
color: #f1f1f1;
font-size: 90px;
}
.under-line
{
    width: 50px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.616);
    margin: auto;
    transition: all .3s;}
*p{
    color: #999999;
}
.progress-bar
{
   background-color: #f25454;

}
.progress
{
    height: 3px;
}
.cap-ratio h2
{
    font-size: 16px;
}



.forboth 
{
    position: absolute;
    
    
}


.team-image
{
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    
}

.team-social-inner
{
    position: absolute;
    top: 0%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f25454;
    transition: all .5s;
    border-radius:5px;
    opacity: 0;
}
.team-image:hover .team-social-inner
{
     opacity: .8;
} 
.ph-m
{
    transition: all .5s;
}
.team-image:hover .ph-m
{
    transform: scale(1.1);
} 
.heading:hover .under-line
{
    width: 67px;
}
.bg-main{
    background-color: #f25454;
    color: white;
}
.bg-main:hover{
  opacity: .7;
  color: white;
}
.s-info h2
{
font-size: 18px;
}
.s-info h2:hover
{
    color: #f25454;

}
.ph-c img
{
    width: 150px !important;
}
.t-slid
{
    transform: translateX(-50%);
} 
ho:hover
{
    color: #f25454 !important;
}
#footer
{
   
    background-color: #222;
}
.bg-map
{
    background-image: url(../images/map-image.png);
    background-size: contain;
    opacity: .2;
}
.fs-s
{
    font-size: 13px;
}
.c-info-
{
    width: 70%;
}
.footer-end
{
    background-color: #1a1a1a;
}
.text-foot
{
    color: #b0b0b0 !important;
}
.span:hover
{
    color: #f25454 !important;
}
.h-ic
{
    transition: all .5s;
}
.h-ic:hover
{
    color: #f25454 !important;
}
.l
{
    width: 75%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.329);
    margin: 15px 0;
}

#contact,#service
{
    background-color: #fafafa;

}

/*********************************hover for anckor in footer**********************************/
#footer .anco a{
    transition: all .2s;
}
#footer .anco a:hover
{
 color: #f25454 !important;
}